.button{
    background-color: rgb(95, 184, 199);
    border: none;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;
    color: azure;
}
.input{
    padding: 5px;
    margin: 8px;
    border-radius: 6px;

    border: 2px solid rgb(95, 184, 199); 
}
